html,body{
    padding: 0;
    margin: 0;
}

.header{
    border-bottom: 1px solid black;
}


h1{
    text-align: center;
}

.nav-menu{
    text-align: center;
}

.nav-item{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
}

.mantis{
    text-align: center;
}
.mantis-picture{
    margin: 0 auto;
}

.mantis-picture img{
    display: inline-block;
    width: 300px;
}

span em{
    display: block;
    font-size: .7rem;
}

h2{
    font-size: 1.4rem;
    margin: 10px 0px;
}

.general{
    width: 66%;
    margin: 0 auto;
}

.general .general-principal{
    display: inline-block;
    text-align: justify;
    margin: 0px;
    margin-bottom: 20px;
}

h6{
    display: none;
}

.table-info{
    margin: 0 auto;
    display: flex;
    justify-content: center;

}